@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.github.com/en/actions">Github Actions here</a> in the official Github Actions Documentation.</p>
</div>